- var time90 = "Продолжительность - 90 мин";
    -var time60 = "Продолжительность - 60 мин";
    -var titleFirstBlock = "Набор в группу Cantemporary";
        -var titleNameInvisbleFirstBlock = "Polina Grizodub";
    -var titleSecondBlock = "Набор в группу Hip-Hop";
        -var titleNameInvisbleSecondBlock = "Andrey Grizodub";
    -var titleThirdBlock = "Набор в группу K-Pop";
        -var titleNameInvisbleThirdBlock = "Sergey Mihutkin";
    -var titleFourthBlock = "Бесплатное пробное занятие";
        -var titleNameInvisbleFourthBlock = "Запишись на бесплатное пробное занятие";
doctype html
html
    head
        meta(charset='UTF-8')
        meta(name='viewport', content='initial-scale=1.0 ,width=device-width')
        script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js')
        script.
            $(window).on('load', function () {
                var $preloader = $('#p_prldr')
                $preloader.delay(200).fadeOut('slow');
            });
        link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css')
        link(rel='stylesheet', href='css/normalize.css')
        link(rel='shortcut icon', href='img/favicon.png', type='image/x-icon')
        link(rel='stylesheet', href='libs/fontawesome-free-5.12.0-web/css/all.min.css')
        link(rel='stylesheet', href='css/stylepreloader.css')
        link(rel='stylesheet', href='css/style.css')
    body
        #p_prldr.preloader
            svg(viewBox="0 0 600 300")
                // Symbol
                symbol#s-text
                    text(text-anchor="middle", x="50%", y="50%", dy=".35em")
                        | Interstellar
                // Duplicate symbols
                use.text(xlink:href="#s-text")
                use.text(xlink:href="#s-text")
                use.text(xlink:href="#s-text")
                use.text(xlink:href="#s-text")
                use.text(xlink:href="#s-text")
        .cont
            .slide.slide--1(data-target='1')
                .slide__text.slide__text--1 First Page
                .slide__img
                    .slide__close
                .slide__bg-dark
                .slide__container-content
                    .container-main
                        .box
                            .box__row
                                .box__row-cell(data-cell='1')
                                    .box__row-cell-info
                                        p.box__row-cell-info-ep
                                            | 10
                                            span 08
                                    .box__row-cell-info
                                        p.box__row-cell-info-title #{titleFirstBlock}
                                    .box__row-cell-info
                                        .box__row-cell-info-sign
                                    .box__row-cell-info.box__row-cell-info--time
                                        p 10 августа 2020
                                    .box__row-cell-info--full
                                        h1.box__row-cell-info--full-heading #{titleNameInvisbleFirstBlock}
                                        p.box__row-cell-info--full-par
                                            | Преподаватель
                                            br
                                            span Cantemporary
                                .box__row-cell(data-cell='2')
                                    .box__row-cell-info
                                        p.box__row-cell-info-ep
                                            | 08
                                            span 08
                                    .box__row-cell-info
                                        p.box__row-cell-info-title #{titleSecondBlock}
                                    .box__row-cell-info
                                        .box__row-cell-info-sign
                                    .box__row-cell-info.box__row-cell-info--time
                                        p 8 августа 2020
                                    .box__row-cell-info--full
                                        h1.box__row-cell-info--full-heading #{titleNameInvisbleSecondBlock}
                                        p.box__row-cell-info--full-par
                                            | Преподаватель
                                            br
                                            span Hip-Hop
                            .box__row
                                .box__row-cell(data-cell='3')
                                    .box__row-cell-info
                                        p.box__row-cell-info-ep
                                            | 07
                                            span 08
                                    .box__row-cell-info
                                        p.box__row-cell-info-title #{titleThirdBlock}
                                    .box__row-cell-info
                                        .box__row-cell-info-sign
                                    .box__row-cell-info.box__row-cell-info--time
                                        p 07 августа 2020
                                    .box__row-cell-info--full
                                        h1.box__row-cell-info--full-heading #{titleNameInvisbleThirdBlock}
                                        p.box__row-cell-info--full-par
                                            | Преподаватель
                                            br
                                            span K-Pop
                                .box__row-cell(data-cell='4')
                                    .box__row-cell-info
                                        p.box__row-cell-info-ep
                                            | 29
                                            span 07
                                    .box__row-cell-info
                                        p.box__row-cell-info-title #{titleFourthBlock}
                                    .box__row-cell-info
                                        .box__row-cell-info-sign
                                    .box__row-cell-info.box__row-cell-info--time
                                        p 29 августа 2020
                                    .box__row-cell-info--full
                                        h1.box__row-cell-info--full-heading #{titleNameInvisbleFourthBlock}
                                        p.box__row-cell-info--full-par
                                            | Выбирай любое направление и танцуй в месте с нами
                            .box__content.box__content--1(data-content='1')
                                .box__content-wrapper
                                    .box__content-inner
                                        .box__content-text
                                            h2.box__content-text-heading #{time90}
                                            p.box__content-text-par
                                                | Приветствую уважаемые посетители нашего сайта. В группу по направлению Contemporary производится набор. В группу по направлению Contemporary производится набор.
                                            p.box__content-text-par
                                                | Победитель турнира Moscow Argentine Tango Grand Prix, Финалистка чемпиона России по бальным танцам, Чемпионка России по Аргентинскому танго (Tango de pista) 2014 и 2015, Чемпионка Европы по Аргентинскому танго (Tango de pista) 2016, финалистка Чемпионата мира (Tango de pista) 2014 и 2015, финалистка Чемпионата мира (Tango de pista и Escenario) 2017.
                                            h2.box__content-text-heading SHOW NOTES
                                            ul.box__content-text-list
                                                li.box__content-text-item
                                                    | Основатель студии
                                                li.box__content-text-item
                                                    | Профессиональный хареограф
                                                li.box__content-text-item
                                                    | Contemporary Dance
                                                li.box__content-text-item
                                                    | Swing Dance
                                            h2.box__content-text-heading FOLLOW
                                            a.box__content-text-link(href="https://vk.com/dancepollyinterstellar", target='_blank') #{titleNameInvisbleFirstBlock} | #{titleNameInvisbleFirstBlock}
                                            br
                                            a.box__content-text-link(href="https://www.instagram.com/polinagrizodub/", target='_blank') Checkout my Instagram
                            .box__content.box__content--2(data-content='2')
                                .box__content-wrapper
                                    .box__content-inner
                                        .box__content-text
                                            h2.box__content-text-heading #{time90}
                                            p.box__content-text-par
                                                | Приветствую уважаемые посетители нашего сайта. В группу по направлению Hip-Hop производится набор. В группу по направлению Hip-Hop производится набор.
                                            p.box__content-text-par
                                                | преподаватель по Hip-Hop, Андрей Гризодуб. Участник проекта "Большие танцы" на телеканале Россия, а также экс танцор шоу-балета "Тодес".
                                            h2.box__content-text-heading SHOW NOTES
                                            ul.box__content-text-list
                                                li.box__content-text-item
                                                    | Сооснователь студии
                                                li.box__content-text-item
                                                    | Профессиональный хареограф
                                                li.box__content-text-item
                                                    | экс танцор шоу-балета "Тодес"
                                                li.box__content-text-item
                                                    | Участник проекта "Большие танцы"
                                                li.box__content-text-item
                                                    | Hip-Hop Dance
                                            h2.box__content-text-heading FOLLOW
                                            a.box__content-text-link(href='https://vk.com/id34453980' target='_blank') Andrey Grizodub | Andrey Grizodub
                                            br
                                            a.box__content-text-link(href='https://www.instagram.com/andreygrizodub/' target='_blank') Checkout my Instagram
                            .box__content.box__content--3(data-content='3')
                                .box__content-wrapper
                                    .box__content-inner
                                        .box__content-text
                                            h2.box__content-text-heading #{time60}
                                            p.box__content-text-par
                                                | Suspendisse non orci porta, consectetur tellus in, gravida felis. Aenean vel posuere lacus. Quisque eget rutrum elit. In eu tortor eget velit scelerisque porttitor.
                                            p.box__content-text-par
                                                | Morbi nisl metus, hendrerit eget ante sed, consequat egestas urna. Quisque et rutrum ligula, eu rutrum ex. Nunc neque mauris, laoreet eu auctor vitae, rutrum molestie dolor. Pellentesque vel vulputate elit, quis rhoncus sapien.
                                            h2.box__content-text-heading SHOW NOTES
                                            ul.box__content-text-list
                                                li.box__content-text-item
                                                    | Vitae ultrices
                                                li.box__content-text-item
                                                    | Aenean vel
                                                li.box__content-text-item
                                                    | Ut condimentum
                                                li.box__content-text-item
                                                    | Aenean metus
                                                li.box__content-text-item
                                                    | Quisque sodales
                                                li.box__content-text-item
                                                    | Accumsan metus
                                            h2.box__content-text-heading FOLLOW
                                            a.box__content-text-link(href='https://vk.com/boombb' target='_blank') #{titleNameInvisbleThirdBlock} | #{titleNameInvisbleThirdBlock}
                                            br
                                            a.box__content-text-link(href='https://www.instagram.com/sergfd/' target='_blank') Checkout my Instagram
                            .box__content.box__content--4(data-content='4')
                                .box__content-wrapper
                                    .box__content-inner
                                        .box__content-text
                                            h2.box__content-text-heading SYNOPSIS - 42 MIN
                                            p.box__content-text-par
                                                | Suspendisse non orci porta, consectetur tellus in, gravida felis. Aenean vel posuere lacus. Quisque eget rutrum elit. In eu tortor eget velit scelerisque porttitor.
                                            p.box__content-text-par
                                                | Morbi nisl metus, hendrerit eget ante sed, consequat egestas urna. Quisque et rutrum ligula, eu rutrum ex. Nunc neque mauris, laoreet eu auctor vitae, rutrum molestie dolor. Pellentesque vel vulputate elit, quis rhoncus sapien.
                                            h2.box__content-text-heading SHOW NOTES
                                            ul.box__content-text-list
                                                li.box__content-text-item
                                                    | Vitae ultrices
                                                li.box__content-text-item
                                                    | Aenean vel
                                                li.box__content-text-item
                                                    | Ut condimentum
                                                li.box__content-text-item
                                                    | Aenean metus
                                                li.box__content-text-item
                                                    | Quisque sodales
                                                li.box__content-text-item
                                                    | Accumsan metus
                                            h2.box__content-text-heading FOLLOW
                                            a.box__content-text-link(href='https://twitter.com/mrspok407' target='_blank') mrspok407 | @mrspok407
                                            br
                                            a.box__content-text-link(href='https://codepen.io/mrspok407/' target='_blank') Checkout my other pens
                            .box__close
                                span
                                br
                                span
                                span
                                br
                                span
                                span
                                span
                            .box__title
                                h1.box__title-heading
                                    | INTER
                                    br
                                    span Stellar
            .slide.slide--2(data-target='2')
                .slide__text Events
                .slide__img
                    .slide__close
                .slide__bg-dark
                .slide__container-content
                    .comming-soon
                        .circle
                        .form-group
                            p.text COMMING SOON
                            label Get latest updates about new release
                            .input-group
                                input.form-control(type='text' placeholder='Email Address')
                                .input-group-append
                                    span#basic-addon2.input-group-text
                                        button Notify Me
            .slide.slide--3(data-target='3')
                .slide__text Teachers
                .slide__img
                    .slide__close
                .slide__bg-dark
                .slide__container-content
            .slide.slide--4(data-target='4')
                .slide__text Calendar
                .slide__img
                    .slide__close
                .slide__bg-dark
                .slide__container-content
            .slide.slide--5(data-target='5')
                .slide__text About US
                .slide__img
                    .slide__close
                .slide__bg-dark
                .slide__container-content
        script(src='js/index.js')
        script(src='js/sliderivents.js')